<div class="panel-default panel" ng-click="disabled = !disabled">
  <input ng-model="todo.title" ng-model-options="{debounce: 350}" type="text" value="" class="form-control" ng-disabled="disabled">
  <p class="btn-lg">Usuario: {{main.users[todo.userId].username}}</p>
  <p class="btn-lg">
    Completa:
    <span ng-if="todo.completed" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
    <span ng-if="!todo.completed" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
  </p>
</div>
